*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-image: linear-gradient(120deg, rgb(166, 192, 254,0.8) 0%, rgb(246, 128, 132,0.8) 100%),url(/img/Cute\ Tulips\ and\ cupcakes.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  color: #fff;
  font-size: 16px;
  
}

.wrap{
  width: 90%;
  max-width: 1000px;
  height: 70vh;
  text-align: center;
}

.widget{
  width: 40%;
  margin: 12em;
}

.widget p{
  display: inline-block;
  line-height: 1em;
}

.fecha{
  font-family: Oswald, Arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border: 1px white solid;
  padding: 20px;
  width: 100%;
  border-radius: 50px;
}

.reloj{
  background: rgba(255, 255, 255, 0.5);
  border: 1px white solid;
  font-family: Oswald, Arial;
  text-align: center;
  font-size: 4em;
  color: black;
  padding: 20px;
  width: 100%;
  border-radius: 50px;
}

.reloj .caja-segundos{
  display: inline-block;
}

.reloj .segundos, .reloj .ampm{
  font-size: 2rem;
  display: block;
}
